.dnd5e.sheet.item.iws {
  min-height: auto;
}
.dnd5e.sheet.item.iws .form-group label:first-child {
  flex: 1;
}
.items-with-spells-tab {
  display: flex;
  flex-direction: column;
}
.items-with-spells-warnings {
  flex: 1 0 auto !important;
}
.items-with-spells-items-list {
  height: 100%;
}
.item-with-spells-item-detail {
  text-align: center;
  font-size: 12px;
}
.item-with-spells-item-controls {
  border-left: 1px solid #c9c7b8;
}

/* fix Unidentified box display on Tidy 5e Sheets */
.tidy5e-sheet .items-with-spells-tab {
	position: relative;
}
.tidy5e-sheet .items-with-spells-tab .unidentified-notice {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: start center;
}
.tidy5e-sheet .items-with-spells-tab .unidentified-notice > div {
	margin-block-start: 4rem;
	margin-inline: auto;
	padding: 2rem;
	border: .0625rem solid var(--t5e-separator-color);
	border-radius: .25rem;
	box-shadow: 0 0 .75rem #00000073;
	background: var(--t5e-background);
	text-align: center;
}
.tidy5e-sheet .items-with-spells-tab .unidentified-notice > div strong {
	font-size: 1.5rem;
}